html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bgWeather{
    background-color:rgba(255,255,255,0.1);
    padding:20px;
    border-radius:10px;
    text-align:center;
    width:100%;
}

.weatherInfo{

}